body {
    font-family: sans-serif;
}

.ra {
    text-align: right;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.la {
    text-align: left;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
