{% extends "base.html" %}
{% load i18n %}

{% block content %}
<p>
{% if neue_mandate == 0 %}<span>{% else %}<span style="font-weight:bold; color:#a00;">{% endif %}
Neue Lastschriftmandate: {{neue_mandate}}</span><br>

{% if alte_mandate == 0 %}<span>{% else %}<span style="font-weight:bold; color:#a00;">{% endif %}
Alte Lastschriftmandate: {{alte_mandate}}</span>
<p>

<p>
{% if neue_mitglieder == 0 %}<span>{% else %}<span style="font-weight:bold; color:#a00;">{% endif %}
Aufzunehmende Mitglieder: {{neue_mitglieder}}</span>
    <ul>  {% for mitglied in mitglieder %}<li>{{mitglied.vorname}} {{mitglied.nachname}}</li>{% endfor %}</ul>
</p>

{% endblock %}
