<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" />
    <title>{% block title %}BwInf Alumni und Freunde{% endblock %}</title>
    <base target="_top">
</head>

<body>
    <div id="header">
        {% block header %}
        <div style="float:right; margin-right:50px;">
        {% if user.is_authenticated %}
        Eingeloggt als: <b>{{ user.username }}</b>{% if user.benutzermitglied %}, Mitgliedsnummer: <b>{{ user.benutzermitglied.mitglied.mitgliedsnummer }}</b> {% endif %}
        (<a href="{% url 'auth:logout' %}">Ausloggen</a>)
        {% else %}
        <a href="{% url 'auth:login' %}">Einloggen</a>
        {% endif %}
        </div>
        <a href="/">Zurück zur Startseite</a>
        <hr />
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div id="footer">
        {% block footer %}

        {% if user.is_superuser or user.is_staff %}
        <hr />

        <h2>Admin-Bereich</h2>
        <p>
        <ul>
            <li><a href="{% url 'mitgliedskonto:index' %}">Mitgliederübersicht</a></li>
            <li><a href="{% url 'mitgliederverwaltung:benutzerliste' %}">Benutzerübersicht</a></li>
            <li><a href="{% url 'umsaetze:index' %}">Umsatzübersicht</a></li>
            <li><a href="{% url 'verein:index' %}">Vereinsbeschlüsse</a></li>
        </ul>
        </p>
        {% endif %}



        {% endblock %}
    </div>
</body>

<script>
if (window.top!=window.self)
{
    document.getElementById("header").style.display = "none";
    document.getElementById("footer").style.display = "none";
}
</script>
</html>
