{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mitglieder/style.css' %}" />

<h1>Alle Mitglieder und ihre Accounts</h1>

{% if mitglieder %}
<ul class="bl">
  {% for mitglied in mitglieder %}
  <li><a href="{% url 'mitglieder:detail' mitglied.mitgliedsnummer %}">{{ mitglied }}</a>
    <ul class="bl">
      {% for benutzermitglied in mitglied.benutzermitglied_set.all %}
      <li><a href="{% url 'benutzer:detail' benutzermitglied.benutzer.id %}">{{ benutzermitglied.benutzer.username }}</a></li>
      {% endfor %}
      <li><a href="{% url 'benutzer:addmitgliedsnummer' mitglied.mitgliedsnummer %}">+</a></li>
    </ul>
  </li>
  {% endfor %}
  <li><a href="{% url 'mitglieder:add' %}">+</a>
</ul>
{% else %}
<p>No polls are available.</p>
{% endif %}


<p>
  <ul>
    <li><a href="/accounts/logout/?next=/">Logout</a></li>
  </ul>
</p>
