<h3>Spendenbescheinigung anlegen</h3>

<p>Nutze <kbd>generate.sh</kbd> im Verzeichnis <kbd>spendenbescheinigungen</kbd> vom Vorstandsrepository:<p>

<div style="max-width: 1200px; background-color: #eee;">
<kbd>
  ./generate.sh '{"name":{{ name }}, "adresse": {{ strasse }}, "adresszusatz": {{ adresszusatz }}, "plz": {{ plz }}, "ort": {{ stadt }}, "betrag_cent": {{ betrag_cent }}, "betrag_datum": "{{ buchungsdatum }}", "gem_finanzamt": "{{ bescheid.finanzamt }}", "gem_steuernummer": "{{ bescheid.steuernummer }}", "gem_datum": "{{ bescheid.datum|date:"d.m.Y" }}", "gem_zeitraum": "{{ bescheid.zeitraum }}", "unterschrift_datum": "{{ datum }}" }' '{{ mitgliedsnummer }}_{{ buchung }}.pdf'
</kbd>
</div>

<p>
Benötigt:
<ul>
  <li><kbd>uv</kbd></li>
  <li><kbd>lualatex</kbd></li>
</ul>
</p>

<p>
Anschließend "Spendenbescheinigung verizieren" klicken um die Spendenbescheinigung für das Mitglied verfügbar zu machen und automatisch eine Benachrichtigung per E-Mail an das Mitglied zu senden.
</p>

<p>
<a href="..">Zurück</a>
</p>
