<h3>Spendenbescheinigung anlegen</h3>

<div style="max-width: 900px;">
<kbd>
  ./generate.py '{"name":{{ name }}, "adresse": {{ strasse }}, "plz": {{ plz }}, "ort": {{ stadt }}, "betrag_cent": {{ betrag_cent }}, "betrag_datum": "{{ buchungsdatum }}", "gem_finanzamt": "{{ bescheid.finanzamt }}", "gem_steuernummer": "{{ bescheid.steuernummer }}", "gem_datum": "{{ bescheid.datum }}", "gem_zeitraum": "{{ bescheid.zeitraum }}", "unterschrift_datum": "{{ datum }}" }' | lualatex --jobname overlay && pdftk 034122.pdf background overlay.pdf output {{ mitgliedsnummer }}_{{ buchung }}.pdf && scp {{ mitgliedsnummer }}_{{ buchung }}.pdf alumni.bwinf.de:/home/robert/bwinf-alumni/invoices
</kbd>
</div>

<p>
<a href="..">Zurück</a>
</p>
