{% extends "base.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mitglieder/style.css' %}" />

<h1>{{ mitglied.mitgliedsnummer }}</h1>
<h2>{{ mitglied.vorname }} {{ mitglied.nachname }}</h2>

<hr>
{% load humanize %}

<style>
td, th {padding: 0px 20px;}
</style>

<h3>Umsätze:</h3>
<form action="." method="post">
  {% csrf_token %}
<table>
  <tr><th>Art</th><th>Wertstellung</th><th>Umsatz</th><th>Kontostand</th><th>Kommentar</th><th></th></tr>
  {% for transaction in transactions %}
  <tr><td>{{ transaction.type }}</td><td>{{ transaction.date }}</td><td class="ra"><b>{% if transaction.amount > 0 %}+{% endif %}{{ transaction.amount|floatformat:2 }} €</b></td><td class="ra">{{ transaction.value|floatformat:2 }} €</td><td>{{ transaction.comment }}</td><td>{% if transaction.large or user.is_superuser or user.is_staff or transaction.beleg_status != "" %}{% if transaction.beleg_status != "angefordert" and transaction.beleg_status != "erstellt" and transaction.beleg_status != "verifiziert" %}<a href="{{ transaction.id }}/">Spendenbescheinigung anfordern</a>{% endif %}{% if transaction.beleg_status == "angefordert" or transaction.beleg_status == "erstellt" %}Spendenbescheinigung wurde angefordert{% endif %}{% if transaction.beleg_status == "verifiziert" %}<a href="{{ transaction.id }}/">Spendenbescheinigung herunterladen</a>{% endif %}{% endif %}</td></tr>
  {% endfor %}

  {% if user.is_superuser or user.is_staff %}
  <tr><td>{{ form.typ }}</td><td>{{ form.buchungsdatum }}</td><td>{{ form.cent_wert }} <b>Cent</b></td><td></td><td>{{ form.kommentar }}</td><td>{{ form.wirksam }} {{form.wirksam.label}}</td><td><input type="submit" value="Hinzufügen" /></td></tr>
<tr><td>{{ form.typ.errors }}</td><td>{{ form.buchungsdatum.errors }}</td><td>{{ form.cent_wert.errors }}</td><td></td><td>{{ form.kommentar.errors }}</td><td>{{ form.wirksam.errors }}</td></tr>
  {% endif %}
</table>
</form>
<hr>

<b>Aktueller Konstostand: {{ after|floatformat:2 }} € </b>

{% endblock %}
