{% extends "base.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mitglieder/style.css' %}" />

{% load humanize %}

<style>
td, th {padding: 0px 20px;}
</style>

<h3>Lastschriftmandate:</h3>
<table>
  <tr><th>Kontoinhaber</th><th>IBAN</th><th>BIC</th><th>Bank</th><th>Mandatsreferenz</th><th>erstellt</th><th>gültig seit</th><th>gültig bis</th></tr>
  {% for mandat in mandate %}
  <tr style="{% if mandat.gueltig %} background-color:#cfc; {% elif mandat.neu %} background-color:#cff; {% else %} background-color:#ccc; color: #444; {% endif %}"><td>{{ mandat.inhaber }}</td><td>{{ mandat.iban }}</td><td>{{ mandat.bic }}</td><td>{{ mandat.bankname }}</td><td>{{ mandat.referenz }}</td><td>{{ mandat.erstellung }}</td><td>{{ mandat.gueltig_ab }}</td><td>{% if mandat.neu %} <form style="display:inline" action="accept/{{mandat.id}}" method="post">{% csrf_token %} <input type="submit" value="Mandat akzeptieren" /></form> &nbsp; &nbsp; <form  style="display:inline" action="delete/{{mandat.id}}" method="post">{% csrf_token %} <input type="submit" value="Antrag verwerfen" /> </form> {% else %}{{ mandat.gueltig_bis }}{% endif %}</tr>
  {% endfor %}
</table>


<h1>Alle Mitglieder</h1>

{% if mitglieder %}
  <ul class="bl">
  {% for mitglied in mitglieder %}
    <li><a href="{% url 'lastschriftmandatverwaltung:detail' mitglied.mitgliedsnummer %}">{{ mitglied }}</a></li>
  {% endfor %}
  </ul>
{% else %}
  <p>Keine Mitglieder vorhanden.</p>
{% endif %}

{% endblock %}
