{% extends "base.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mitglieder/style.css' %}" />

<h1>Einzahlungen eintragen</h1>

<a href="{% url 'umsaetze:index' %}">Umsatzübersicht</a>

{% if num %}{{ num }} <br /> <br /> Einzahlungen erfolgreich eingetragen! {% endif %}
<form action="." method="post">
  {% csrf_token %}

  <table>
    {{ umsatzeinzahlung }}
  </table>

  <table>
    {{ kontoeinzahlung }}
  </table>

  <table>
    {{ einzahlungen }}
  </table>

  <input type="submit" value="Hinzufügen" />
  
</form>  
{% endblock %}

