{% extends "base.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mitglieder/style.css' %}" />

<h1>Einzahlungen eintragen</h1>

<a href="{% url 'umsaetze:index' %}">Umsatzübersicht</a>

{% if num %}<br /> <br /> {{ num }} Einzahlungen erfolgreich eingetragen! {% endif %}
<form action="." method="post">
  {% csrf_token %}

  <table>
    {{ umsatzeinzahlung }}
  </table>

  <table>
    {{ kontoeinzahlung }}
  </table>

  <table>
    {{ einzahlungen }}
  </table>

  <input type="submit" value="Hinzufügen" />

</form>


<script>
  function addListener(i) {
      var select = document.getElementById("id_einzahlungen-" + i + "-mitglied");
      var input = document.getElementById("id_einzahlungen-" + i + "-geschaeftspartner");

      select.addEventListener("change", (event) => {
          var value = select.options[select.selectedIndex].text;
          input.value = value.split(": ")[1].split(" (")[0]
      });
  };

  for (var i = 0; i < 99; i++) {
      addListener(i);
  }
</script>

{% endblock %}
