{% extends "base.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mitglieder/style.css' %}" />

<h1>Alle Umsätze</h1>

<form action="." method="post">
  {% csrf_token %}

  
  <table style="border:0px; border-collapse: collapse; width:120em;">
  
  <tr>
    <td>{{ form.konto.errors }}</td>
      <td>{{ form.wertstellungsdatum.errors }}</td>
      <td>{{ form.text.errors }}</td>
      <td>{{ form.typ.errors }}</td>
      <td></td>
      <td>{{ form.cent_wert.errors }}In Cent!</td>
      <td></td>
      <td>{{ form.beleg.errors }}</td>
      <td>{{ form.author.errors }}</td>
      <td>{{ form.geschaeftspartner.errors }}</td>
      <td>{{ form.kommentar.errors }}
      <td>{{ mbform.mitglied.errors }}</td>
      <td>{{ mbform.typ.errors }}</td>
      <td></td>
    </tr>
  
    <tr>
    <td>{{ form.konto }}</td>
      <td>{{ form.wertstellungsdatum }}</td>
      <td>{{ form.text }}</td>
      <td>{{ form.typ }}</td>
      <td></td>
      <td>{{ form.cent_wert }}</td>
      <td></td>
      <td>{{ form.beleg }}</td>
      <td>{{ form.author }}</td>
      <td>{{ form.geschaeftspartner }}</td>
      <td>{{ form.kommentar }}
      <td>{{ mbform.mitglied }}</td>
      <td>{{ mbform.typ }}</td>
      <td><input type="submit" value="Hinzufügen" /></td>
    </tr>
    
    <tr>
      <th>Konto</th>
      <th>Datum</th>
      <th>Text</th>
      <th>Typ</th>
      <th>Vorher</th>
      <th>Umsatz</th>
      <th>Nachher</th>
      <th>Beleg</th>
      <th>Author</th>
      <th>Geschäftspartner</th>
      <th>Kommentar</th>
      <td>Optional: Mitglied</td>
      <td>Buchungstyp</td>
    </tr>
  {% for umsatz in umsaetze %}
    <tr style="border-top:1px solid grey;">
        <td>{{ umsatz.umsatz.konto }}</td>
    
      <td>{{ umsatz.umsatz.wertstellungsdatum }}</td>
      <td>{{ umsatz.umsatz.text }}</td>
      <td>{{ umsatz.umsatz.typ }}</td>
      <td class="ra">{{ umsatz.before }} €</td>
      <th class="ra">{{ umsatz.amount }} €</th>
      <td class="ra">{{ umsatz.after }} €</td>
      <td class="ra">{{ umsatz.umsatz.beleg }}</td>
      <td class="ra">{{ umsatz.umsatz.author }}</td>
      <td class="ra">{{ umsatz.umsatz.geschaeftspartner }}</td>
      <td class="ra">{{ umsatz.umsatz.kommentar }}</td>
    </tr>
  {% endfor %}
  </table>
</form>


{% endblock %}

