{% extends "base.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mitglieder/style.css' %}" />

<h1>{{ mitglied.mitgliedsnummer }}</h1>
<h2>{{ mitglied.vorname }} {{ mitglied.nachname }}</h2>

<hr>
{% load humanize %}

<style>
td, th {padding: 0px 20px;}
</style>

<h3>Umsätze:</h3>
<form action="." method="post">
  {% csrf_token %}
<table>
  <tr><th>Art</th><th>Wertstellung</th><th>Umsatz</th><th>Kontostand</th><th>Kommentar</th></tr>
  {% for transaction in transactions %}
  <tr><td>{{ transaction.type }}</td><td>{{ transaction.date }}</td><td><b>{% if transaction.amount > 0 %}+{% endif %}{{ transaction.amount|floatformat:2 }} €</b></td><td>{{ transaction.value|floatformat:2 }} €</td></tr>
  {% endfor %}
  
  {% if user.is_superuser or user.is_staff %}
  <tr><td>{{ form.typ }}</td><td>{{ form.buchungsdatum }}</td><td>{{ form.cent_wert }} <b>Cent</b></td><td></td><td>{{ form.kommentar }}</td><td><input type="submit" value="Hinzufügen" /></td></tr>
  {% endif %}
</table>
</form>
<hr>

<b>Aktueller Konstostand: {{ after|floatformat:2 }} € </b>

{% endblock %}
