{% if isadmin %}

<h1>Admin</h1>

<p><a href="{% url 'mitgliedschaftsantrag:liste' %}">Offene Mitgliedsanträge anzeigen</a></p>
<p><a href="{% url 'mitgliedschaftsantrag:neuemitgliedschaft' %}">Neues Mitglied direkt eintragen</a></p>

{% endif %}

<h1>Mitgliedschaftsantrag</h1>

<form action="." method="post">
    {% csrf_token %}

      <p>Ja, ich will Mitglied im „Bundeswettbewerb Informatik Alumni und Freunde e. V.“ werden:</p>

      <style>
        input[type=text], input[type=email] {
            margin-right: 30px;
        }
        #id_anrede, #id_plz {
            width: 100px;
        }
        #id_strasse {
            width: 300px;
        }
        #id_mitgliedschaft li {
            display: inline;
        }

      </style>

      <table>
        <tr>
          <td>{{ form.anrede.label_tag }} <br /> {{ form.anrede }} <br /> {{ form.anrede.errors }} </td>
          <td>{{ form.vorname.label_tag }} <br /> {{ form.vorname }} <br /> {{ form.vorname.errors }}</td>
          <td>{{ form.nachname.label_tag }} <br /> {{ form.nachname }} <br /> {{ form.nachname.errors }}</td>
        </tr>
      </table>
      <table>
        <tr>
          <td>{{ form.strasse.label_tag }} <br /> {{ form.strasse }} <br /> {{ form.strasse.errors }}</td>
          <td>{{ form.adresszusatz.label_tag }} <br /> {{ form.adresszusatz }} <br /> {{ form.adresszusatz.errors }}</td>
      </tr>
      </table>
      <table>
        <tr>
          <td>{{ form.plz.label_tag }} <br /> {{ form.plz }} <br /> {{ form.plz.errors }}</td>
          <td>{{ form.stadt.label_tag }} <br /> {{ form.stadt }} <br /> {{ form.stadt.errors }}</td>
          <td>{{ form.land.label_tag }} <br /> {{ form.land }} <br /> {{ form.land.errors }}</td>
      </tr>
      </table>
      <table>
        <tr>
          <td>{{ form.email.label_tag }} <br /> {{ form.email }} <br /> {{ form.email.errors }}</td>
          <td>{{ form.telefon.label_tag }} <br /> {{ form.telefon }} <br /> {{ form.telefon.errors }}</td>
          <td>{{ form.geburtsdatum.label_tag }} <br /> {{ form.geburtsdatum }} <br /> {{ form.geburtsdatum.errors }}</td>
      </tr>
      </table>


      <h4>Mitgliedschaft und Beitragshöhe</h4>

      <p>
      Der Mitgliedsbeitrag beträgt für ordentliche Mitglieder zur Zeit 10 € pro Jahr. Fördermitglieder bestimmen ihren Beitrag selber, dieser sollte aber 50 € pro Jahr nicht unterschreiten.
      </p>

      <p>
      {{ form.mitgliedschaft.label_tag }} &nbsp; {{ form.mitgliedschaft }} {{ form.mitgliedschaft.errors }}
      <span id="mitgliedsbeitrag_hide">{{ form.mitgliedsbeitrag.label_tag }} &nbsp; € {{ form.mitgliedsbeitrag }} &nbsp; </span>{{ form.mitgliedsbeitrag.errors }}
      <script>
        var mbh = document.getElementById("mitgliedsbeitrag_hide");
        var rb0 = document.getElementById("id_mitgliedschaft_0");
        var rb1 = document.getElementById("id_mitgliedschaft_1");

        function change_hide() {
          if (rb1.checked) {
            mbh.style.visibility = "";
          } else {
            mbh.style.visibility = "hidden";
          }
        }
        change_hide();

        rb0.onclick = change_hide;
        rb1.onclick = change_hide;
      </script>


      <h4>Informationen für andere Vereinsmitglieder</h4>

      <table>
        <tr>
          <td>{{ form.beruf.label_tag }} <br /> {{ form.beruf }} <br /> {{ form.beruf.errors }}</td>
          <td>{{ form.studienort.label_tag }} <br /> {{ form.studienort }} <br /> {{ form.studienort.errors }}</td>
          <td>{{ form.studienfach.label_tag }} <br /> {{ form.studienfach }} <br /> {{ form.studienfach.errors }}</td>
      </tr>
      </table>


      <h4>Häufig genutzte Voreinstellungen zu persönlichen Daten</h4>
            <p>Die Angaben zur Anzeige und Weitergabe der einzelnen persönlichen Daten können bei Wunsch nach Aufnahme in den Verein noch genauer eingestellt werden.</p>

    <p>
      {{ form.mailingliste }} <label for="{{ form.mailingliste.id_for_label }}">Ich möchte in die Mailingliste aufgenommen werden, um mich mit anderen Vereinsmitgliedern austauschen zu können. (Empfohlen; zur Zeit nur wenig Traffic.)</label> &nbsp; {{ form.mailingliste.errors }}
      <p>
      {{ form.adresse_verein }} <label for="{{ form.adresse_verein.id_for_label }}">Ich möchte meine Adresse und meine Telenfonnummer auch anderen Vereinsmitgliedern anzeigen lassen.</label> &nbsp; {{ form.adresse_verein.errors }}
      <p>
      {{ form.adresse_bwinf }} <label for="{{ form.adresse_bwinf.id_for_label }}">Ich möchte meine Adresse vom Verein an die BWINF-Geschäftsstelle weitergeben lassen. (Für den Versand der aktuellen Aufgaben des Bundeswettbewerb Informatik und Anfragen an Vereinsmitglieder.)</label> &nbsp; {{ form.adresse_bwinf.errors }}
      <p>
      {{ form.name_welt }} <label for="{{ form.name_welt.id_for_label }}">Ich möchte in den öffentlich einsehbaren Mitgliederliste aufgeführt werden. (Alle Mitglieder werden in der vereinsinternen Mitgliederliste aufgeführt.)</label> &nbsp; {{ form.name_welt.errors }}
      </p>

      <p>
      <input type="submit" value="Abschicken!" />
      </p>
</form>
<p><span style="color:#080;font-weight:bold;">{{successmessage}}</span>
  <span style="color:#800;font-weight:bold;">{{errormessage}}</span></p>
