<h1>Vorläufige Mitgliedsnummer</h1>

<p>Der Mitgliedschafstsantrag ist bei uns eingegangen.</p>

<p>Ihre vorläufige Mitgliedsnummer lautet: {{mitgliedsnummer}}</p>

<p>Bitte überweisen Sie den Mitgliedsbeitrag für das laufende Jahr in Höhe
von {{mitgliedsbeitrag}} € auf das im <a href="https://alumni.bwinf.de/wiki/impressum">Impressum</a> angegebene Konto. Sobald wir Ihre Zahlung
registriert haben, senden wir Ihnen Ihre persönlichen Zugangsdaten für
den Mitgliederbereich unserer Homepage zu.<p>

<p>Wir haben die Zahlungsdaten auch an Ihre angegeben E-Mailadresse gesandt.</p>

<p>Bitte auf der Überweisung unbedingt die Mitgliedsnummer „{{mitgliedsnummer}}“
angeben, da wir sonst die Zahlung nicht zuordnen können!</p>

<p><a href="/">Zur Startseite</a></p>
